{% include 'fixed/head.html' %}

<!-- CSS Files -->
<link href="../static/plugins/material-bootstrap-wizard/css/bootstrap.min.css" rel="stylesheet" />
<link href="../static/plugins/material-bootstrap-wizard/css/material-bootstrap-wizard.css" rel="stylesheet" />

<!-- CSS Just for demo purpose, don't include it in your project -->
<link href="../static/plugins/material-bootstrap-wizard/css/demo.css" rel="stylesheet" />


<link rel="stylesheet" href="../static/css/start.css">

<body>
    <div class="site-wrapper">
        <!-- Features Area  -->
        <section class="feature-section">
            <div class="shape">
                <img src="../static/image/landing-1-shape.svg" alt="">
            </div>
            <div class="container">
                <div class="row">
                    <div class="col-sm-8 col-sm-offset-2">
                        <!--      Wizard container        -->
                        <div class="wizard-container">
                            <div class="card wizard-card" data-color="red" id="wizard">
                                <form action="" method="">
                                    <!--        You can switch " data-color="blue" "  with one of the next bright colors: "green", "orange", "red", "purple"             -->

                                    <div class="wizard-header">
                                        <h3 class="wizard-title">
                                            Getting Started
                                        </h3>
                                        <h5>Let us match you with the perfect advocate.</h5>
                                    </div>
                                    <div class="wizard-navigation">
                                        <ul>
                                            <li><a href="#details" data-toggle="tab">Account</a></li>
                                            <li><a href="#captain" data-toggle="tab">Context</a></li>
                                            <li><a href="#description" data-toggle="tab">Documents</a></li>
                                        </ul>
                                    </div>

                                    <div class="tab-content">
                                        <div class="tab-pane" id="details">
                                            <div class="row">
                                                <div class="col-sm-12">
                                                    <h4 class="info-text"> Let's start with the basic details.</h4>
                                                </div>
                                                <div class="col-sm-6 center-block">
                                                    <div class="input-group">
                                                        <span class="input-group-addon">
                                                            <i class="material-icons">Email</i>
                                                        </span>
                                                        <div class="form-group label-floating">
                                                            <label class="control-label">Your Email</label>
                                                            <input name="name" type="text" class="form-control">
                                                        </div>
                                                    </div>

                                                    <div class="input-group">
                                                        <span class="input-group-addon">
                                                            <i class="material-icons">Password</i>
                                                            <i class="mdi mdi-hourglass-empty"></i>
                                                            <i class="fa fa-group"></i>
                                                            <i class="material-icons">face</i>
                                                        </span>
                                                        <div class="form-group label-floating">
                                                            <label class="control-label">Your Password</label>
                                                            <input name="name2" type="password" class="form-control">
                                                        </div>
                                                    </div>

                                                </div>
                                            </div>
                                        </div>
                                        <div class="tab-pane" id="captain">
                                            <div class="row">
                                                <div class="col-sm-12">
                                                    <h4 class="info-text"> Let's start with the basic details.</h4>
                                                </div>
                                                <div class="col-sm-6 center-block">
                                                    <div class="input-group">
                                                        <span class="input-group-addon">
                                                            <i class="material-icons">Have you received your bill yet?</i>
                                                        </span>
                                                        <div class="form-group label-floating">
                                                                <select class="form-control">
                                                                    <option>Yes</option>
                                                                    <option>No</option>
                                                                </select>
                                                        </div>
                                                    </div>

                                                    <div class="input-group">
                                                        <span class="input-group-addon">
                                                            <i class="material-icons">Insurance Provider</i>
                                                        </span>
                                                        <div class="form-group label-floating">
                                                            <select class="form-control">
                                                                <option value="">
                                                                    Unitedhealth
                                                                </option>
                                                                <option value="">
                                                                    Wellpoint
                                                                </option>
                                                                <option value="">
                                                                    Kaiser Foundation
                                                                </option>
                                                                <option value="">
                                                                    Humana
                                                                </option>
                                                                <option value="">
                                                                    Aetna
                                                                </option>
                                                                <option value="">
                                                                    HCSC
                                                                </option>
                                                                <option value="">
                                                                    Cigna Health
                                                                </option>
                                                                <option value="">
                                                                    Highmark
                                                                </option>
                                                                <option value="">
                                                                    Coventry
                                                                </option>
                                                                <option value="">
                                                                    HIP Insurance
                                                                </option>
                                                                <option value="">
                                                                    Independence Blue Cross
                                                                </option>
                                                                <option value="">
                                                                    Blue Cross Blue Shield of New Jersey
                                                                </option>
                                                                <option value="">
                                                                    Blue Cross Blue Shield of Michigan
                                                                </option>
                                                                <option value="">
                                                                    California Physicians' Service
                                                                </option>
                                                                <option value="">
                                                                    Blue Cross Blue Shield of Florida
                                                                </option>
                                                                <option value="">
                                                                    Health Net of California
                                                                </option>
                                                                <option value="">
                                                                    Centene
                                                                </option>
                                                                <option value="">
                                                                    Carefirst
                                                                </option>
                                                                <option value="">
                                                                    Wellcare
                                                                </option>
                                                                <option value="">
                                                                    Blue Cross Blue Shield of Massachusetts
                                                                </option>
                                                                <option value="">
                                                                    UHC of California
                                                                </option>
                                                                <option value="">
                                                                    Lifetime Healthcare
                                                                </option>
                                                                <option value="">
                                                                    Cambia Health Solutions
                                                                </option>
                                                                <option value="">
                                                                    Metropolitan
                                                                </option>
                                                                <option value="">
                                                                    Molina Healthcare
                                                                </option>
                                                            </select>
                                                        </div>
                                                    </div>

                                                    <div class="input-group">
                                                        <span class="input-group-addon">
                                                            <i class="material-icons">Insurance Plan</i>
                                                        </span>
                                                        <div class="form-group label-floating">
                                                            <select class="form-control">
                                                                <option>Yes</option>
                                                                <option>No</option>
                                                            </select>
                                                        </div>
                                                    </div>

                                                    <div class="input-group">
                                                        <span class="input-group-addon">
                                                            <i class="material-icons">Income Bracket</i>
                                                        </span>
                                                        <div class="form-group label-floating">
                                                            <select class="form-control">
                                                                <option>$0 to $9,525</option>
                                                                <option>$9,526 to $38,700</option>
                                                                <option>$38,701 to $82,500</option>
                                                                <option>$82,501 to $157,500</option>
                                                                <option>$157,501 to $200,000</option>
                                                                <option>$200,001 to $500,000</option>
                                                                <option>$500,001 or more</option>
                                                            </select>
                                                        </div>
                                                    </div>

                                                </div>
                                            </div>
                                        </div>
                                        <div class="tab-pane" id="description">
                                            <div class="row">
                                                <div class="col-sm-6 center-block">
                                                    <div class="form-group">
                                                        <h4 for="exampleFormControlFile1">Upload your Explanation of Benefits</h4>
                                                        <input type="file">
                                                    </div>
                                                    <div class="form-group">
                                                            <h4 for="exampleFormControlFile1">Upload your Medical Bill</h4>
                                                            <input type="file">
                                                        </div>

                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="wizard-footer">
                                        <div class="pull-right">
                                            <input type='button' class='btn btn-next btn-fill btn-danger btn-wd' name='next' value='Next' />
                                            <input type='button' class='btn btn-finish btn-fill btn-danger btn-wd' name='finish' value='Finish' />
                                        </div>
                                        <div class="pull-left">
                                            <input type='button' class='btn btn-previous btn-fill btn-default btn-wd' name='previous' value='Previous' />

                                            <div class="footer-checkbox">
                                                <div class="col-sm-12">
                                                    <div class="checkbox">
                                                        <label>
                                                            <input type="checkbox" name="optionsCheckboxes">
                                                        </label>
                                                        Subscribe to our newsletter
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="clearfix"></div>
                                    </div>
                                </form>
                            </div>
                        </div> <!-- wizard container -->
                    </div>
                </div> <!-- row -->
            </div> <!--  big container -->
        </section>
        {% include 'fixed/footer.html' %}
    </div>
    {% include 'fixed/foot.html' %}

    <script src="../static/plugins/material-bootstrap-wizard/js/jquery-2.2.4.min.js" type="text/javascript"></script>
	<script src="../static/plugins/material-bootstrap-wizard/js/bootstrap.min.js" type="text/javascript"></script>
	<script src="../static/plugins/material-bootstrap-wizard/js/jquery.bootstrap.js" type="text/javascript"></script>

	<!--  Plugin for the Wizard -->
	<script src="../static/plugins/material-bootstrap-wizard/js/material-bootstrap-wizard.js"></script>

	<!--  More information about jquery.validate here: http://jqueryvalidation.org/	 -->
	<script src="../static/plugins/material-bootstrap-wizard/js/jquery.validate.min.js"></script>

    <script src="../static/js/start.js"></script>
</body>

</html>
