<!-- Footer Section 06 -->
<div class="footer-section">
    <div class="container">

        <div class="footer-newsletter-section">
            <div class="row justify-content-center">
                <div class="col-lg-10 col-xl-8">
                    <div class="footer-newsletter-content">
                        <h2>We will never share your data</h2>
                        <p>The only group that will ever have access to your data is us and the expert bill negotiator. Nobody else. Period.</p>
                    </div>
                </div>
            </div>
        </div>


        <div class="row margin-decrese">
            <div class="col-xl-4 col-lg-5 col-margin">
                <div class="single-footer">
                    <div class="footer-title">
                        <img src="../static/image/footer-logo.png" alt="">
                    </div>
                    <div class="footer-text">
                        <p>We at DaviHealth envision a world where people focus on what's important their health, not their stressful medical bills.</p>
                    </div>
                </div>
            </div>
            <div class="col-lg-2 col-sm-4 col-6 offset-lg-1 col-margin">
                <div class="single-footer">
                    <div class="footer-title">
                        <h6>Navigate</h6>
                    </div>
                    <ul class="footer-list">
                        <li><a href="#how-it-works">How it Works</a></li>
                        <li><a href="#who-its-for">Who it's For</a></li>
                        <li><a href="#pricing">Pricing</a></li>
                    </ul>
                </div>
            </div>
            <div class="col-lg-2 col-sm-4 col-6 offset-lg-1 col-margin">
                <div class="single-footer">
                    <div class="footer-title">
                        <h6>Company</h6>
                    </div>
                    <ul class="footer-list">
                        <li><a href="#">About Us</a></li>
                        <li><a href="#">Privacy</a></li>
                        <li><a href="#">Terms</a></li>
                    </ul>
                </div>
            </div>

        </div>
    </div>
</div>
