<header class="site-header">
    <div class="container">
        <div class="row justify-content-center align-items-center position-relative">
            <div class="col-sm-3 col-6 col-lg-2 col-xl-2 order-lg-1">
                <div class="brand">
                    <a href=""><img src="../static/image/footer-logo.png" alt=""></a>
                </div>
            </div>
            <div class="col-sm-8 col-lg-3 col-xl-3 d-none d-sm-block order-lg-3">
                <div class="header-btns">
                    <div class="btn-2">
                        <a href="/start">Get Started</a>
                    </div>
                </div>
            </div>
            <!-- Menu Block -->
            <div class="col-sm-1 col-6 col-lg-7 col-xl-6 offset-xl-1 position-static order-lg-2">
                <div class="main-navigation">
                    <ul class="main-menu">
                        <li class="menu-item "><a href="#how-it-works">How it Works</a></li>
                        <li class="menu-item"><a href="#who-its-for">Who it's For</a></li>
                        <li class="menu-item"><a href="#pricing">Pricing</a></li>
                    </ul>
                </div>
                <div class="mobile-menu"></div>
            </div>
        </div>
    </div>
</header>
