<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8" />
    <title>Homepage Business</title>
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />
    <link rel="icon" href="../static/img/favicon.ico" type="image/x-icon" />
    <link href="https://fonts.googleapis.com/css?family=Nunito:300,400,600,700,800,900%7COpen+Sans" rel="stylesheet" />
    <link rel="stylesheet" href='../static/libraries/font-awesome/css/font-awesome.min.css' />
    <link rel="stylesheet" href='../static/libraries/ionicons-2.0.1/css/ionicons.min.css' />
    <link rel="stylesheet" href='../static/cache/css.min.css' />

<body class="">
    <header class="header">
        <div class="container container-palette top-bar affix-menu">
            <div class="container-top">
                <div class="clearfix">
                    <div class="pull-left logo"><a href="/">Oravise</a></div>
                    <div class="pull-right navigation-wrapper"> <a href="" class="button-close"></a>
                        <div class="logo"><a href="homepage-business.html#">Oravise</a></div>
                    </div>
                </div>
            </div>
        </div>
    </header>
